.logo-studion{
    font-size: 2.375rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    /* vai colocar 1px a mais do tamanho da altura do glifo 0 da fonte */
    line-height: 1ch;

   
}


.logo-studion__subtitle{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.875rem;
    text-align: right;

}

.copy-primary{
    color: var(--colorPrimary);
}

#slider{
    background-color: #000;
    color: #fff;
}

.slide{
    position: relative;
   
    height: 90vh;
}

.slide__background-image{
    width: 100%;
    height: 99.5%;
    object-position: center;
    object-fit: cover;
}

.slide__copy{
    position: absolute;
    top: 6.25rem;
    /* vw é uma unidade de medida para view width largura da tela */
    left: 50vw;
}

.slide__copy h6{
    font-size: 0.9375rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1875rem;
    margin: 100px 0;
}

.slide__copy h2{
    font-size: 6.25rem;
    text-transform: uppercase;
    line-height: 6.25rem;
}

/* esse comando é para forçar a quebra de linha */
.slide__copy h2 span{
    display: block;
}



#counter{
    background-color: var(--colorPrimary);
    color: #fff;
    text-transform: uppercase;
}

.counter__container{
    /* para colocar em colunas utilizar o display grid e depois definir quantas colunas com 1fr */
    display: grid;
    /* utilizar o repeat para repetir uma coisa, o auto-fill vai colocar as colunas automaticamente o minmax é para colocar o tamanno minimo e o maximo que vai ficar as colunas */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* para colocar os itens no centro da grid */
    place-items: center;
    padding: 4.375rem 1rem;
}

.counter__container h3{
    font-size: 2.1875rem;
}

.counter__container h3 small{
    display: block;
    font-size: 1.25rem;
}

.institutional{
    display: grid;
    grid-template-columns: auto auto;
    /* para dar espaço entre as colunas */
    gap: 3.125rem;
    /* para alinhar todos os itens ao centro no eixo y */
    align-items: center;
    padding: 4.375rem;
}

.institutional__image{
    max-width: 34.375rem;
}

.institutional__copy{
    padding: 0 1.875rem 0 0;
}

.institutional__copy h6{
    font-size: 0.875rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin: 0;
}

.institutional__copy h4 {
    font-size: 1.5625rem;
    margin-top: 1rem;
  }

  .institutional p {
    font-family: "Roboto", sans-serif;
    font-size: 1.0625rem;
    /* espaçamento entre as linhas */
    line-height: 1.6875rem;
    margin-bottom: 0;
    margin-bottom: 2.5rem;
  }

  /* efeito de paralax */
.quote{
    
    background-image: url(/images/parallax.jpg);
    
    /* para fazer o paralax da imagem */
    background-attachment: fixed;
    /* para parar de repetir a imagem */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.quote__container{
    display: grid;
    align-items: center;
    justify-items: end;
    min-height: 80vh;

}

.quote__copy{
    background-color: #fff;
    padding: 5.625rem 4.375rem;

}

.quote__copy h6{
    font-size: 0.9375rem;
    font-weight: 400;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
    line-height: 1.4375rem;
    /* largura maxima de 53 caracteres */
    max-width: 53ch;
    margin: 0;
}

.quote__copy h2{
    font-size: 5rem;
    line-height: 5rem;
    text-transform: uppercase;
    letter-spacing: - 0.1875rem;
    margin: 1.875rem 0;
    

}

.quote__copy h2 span{
    display: block;
}
