@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,700;0,900;1,400&display=swap');

/* aqui define o que estará em todo o site mas não dentro do root, colocar no root apenas o que for importante */
* {
    /* para cortar fora tudo o que estiver fora da tela */
    box-sizing: border-box;
}

/* aqui define as configurações da raiz do site */
:root{
    /* para criar uma variavel no css basta colocar --  */
    --colorPrimary: #ffc500;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    --default-padding: 1rem;
}

/* aqui eu estou definindo todas as propriedades que estarão no body do site */
body{
    margin: 0;
    /* empurra o conteudo da pagina para depois do navbar */
    padding-top: 7.75rem; 
}
/*alterar as configurações das listas*/
ul{
    /* deixa ele flexivel colocando uma do lado da outra */
    display: flex; 
    /* retira a estilização da lista, como as bolinhas do lado */
    list-style: none; 
    padding-left: 0;
}

h6{
    margin: 0;
}


.navbar {
    /* para colocar o navbar sempre fixo no site, mesmo quando rolado para baixo */
    position: fixed;
    z-index: 1;
    /* define que o elemento será em grid  */
    display: grid;
    /* posiciona os elementos em colunas dentro da grid precisa colocar as medidas das colunas fr é a medida de fração que pode ser utilizada apenas no grid*/
    grid-template-columns: 1fr 8fr;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 7.75rem;
    padding: 0 1rem;
    background-color: #000;
    color: #fff;

}

.navbar__links{
    justify-self: end;
    

}

/*alterar as listas*/
.navbar__links li{
        font-size: 0.875rem;
        /* coloca o texto em caixa alta */
        text-transform: uppercase; 
        margin-right: 3rem; /* unidade de medida que foi definida no root */
    
}

/* aqui eu posso pegar um elemento de uma classe para que ele seja afetado por inteiro, neste caso é o elemento A */
.navbar__links a{
    color: #fff;
    text-decoration: none;
    font-weight: 300;
   
    
}

/*  o hover serve para afetar quando o mouse passa por cima */
.navbar__links a:hover{
    color: var(--colorPrimary);
}

.logo-studion{
    font-size: 2.375rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    /* vai colocar 1px a mais do tamanho da altura do glifo 0 da fonte */
    line-height: 1ch;
   
}

.logo-studion__subtitle{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.875rem;
    text-align: right;

}

.copy-primary{
    color: var(--colorPrimary);
}

#slider{
    background-color: #000;
    color: #fff;
}

.slide{
    position: relative;
    height: calc(100vh - 7.75rem);
}

.slide__background-image{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.slide__copy{
    position: absolute;
    top: 6.25rem;
    /* vw é uma unidade de medida para view width largura da tela */
    left: 50vw;
}

.slide__copy h6{
    font-size: 0.9375rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1875rem;
}

.slide__copy h2{
    font-size: 6.25rem;
    text-transform: uppercase;
    line-height: 6.25rem;
}

/* esse comando é para forçar a quebra de linha */
.slide__copy h2 span{
    display: block;
}

.btn{
    cursor: pointer;
    padding: 1rem 2.5rem;
    color: var(--colorPrimary);
    border: 0.125rem solid #fff;
    border-radius: 5rem;
    /* para remover a cor do fundo do botão. */
    background: unset;
    font-size: 0.9375rem;
    font-weight: 700;
    text-transform: uppercase;
    /* determina a transição all serve para tudo e o ease é o tipo */
    transition: 0.5s all ease;
}

.btn:hover, .btn:active, .btn:focus{
    border-color: var(--colorPrimary);
    background-color: var(--colorPrimary);
    color: #fff;
} 
