@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,700;0,900;1,400&display=swap');

/* aqui define o que estará em todo o site mas não dentro do root, colocar no root apenas o que for importante */
* {
    /* para cortar fora tudo o que estiver fora da tela */
    box-sizing: border-box;
}

/* aqui define as configurações da raiz do site */
:root{
    /* para criar uma variavel no css basta colocar --  */
    --colorPrimary: #ffc500;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #333;
    --default-padding: 1rem;
    --color-copy: #333;
}

/* aqui eu estou definindo todas as propriedades que estarão no body do site */
body{
    margin: 0;
    /* empurra o conteudo da pagina para depois do navbar */
    padding-top: 7.75rem; 
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

/* para evitar a quebra do site com as barras horizontais */
header, main, footer{
    overflow-x: hidden;
}
/*alterar as configurações das listas*/
ul{
    /* deixa ele flexivel colocando uma do lado da outra */
    display: flex; 
    /* retira a estilização da lista, como as bolinhas do lado */
    list-style: none; 
    padding-left: 0;
}

h6{
    margin: 0;
}


.navbar {
    /* para colocar o navbar sempre fixo no site, mesmo quando rolado para baixo */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    
}

.navbar__container{
    /* define que o elemento será em grid  */
    display: grid;
    /* posiciona os elementos em colunas dentro da grid precisa colocar as medidas das colunas fr é a medida de fração que pode ser utilizada apenas no grid*/
    grid-template-columns: 1fr 8fr;
    align-items: center;
    
    width: 100vw;
    height: 7.75rem;
    padding: 0 1rem;
    

}

.navbar__links{
    justify-self: end;
    

}

/*alterar as listas*/
.navbar__links li{
        font-size: 0.875rem;
        /* coloca o texto em caixa alta */
        text-transform: uppercase; 
        margin-right: 3rem; /* unidade de medida que foi definida no root */
    
}

/* aqui eu posso pegar um elemento de uma classe para que ele seja afetado por inteiro, neste caso é o elemento A */
.navbar__links a{
    color: #fff;
    text-decoration: none;
    font-weight: 300;
   
    
}

/*  o hover serve para afetar quando o mouse passa por cima */
.navbar__links a:hover{
    color: var(--colorPrimary);
}

.logo-studion{
    font-size: 2.375rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    /* vai colocar 1px a mais do tamanho da altura do glifo 0 da fonte */
    line-height: 1ch;
   
}

.logo-studion__subtitle{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.875rem;
    text-align: right;

}

.copy-primary{
    color: var(--colorPrimary);
}

#slider{
    background-color: #000;
    color: #fff;
}

.slide{
    position: relative;
    height: calc(100vh - 7.75rem);
}

.slide__background-image{
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.slide__copy{
    position: absolute;
    top: 6.25rem;
    /* vw é uma unidade de medida para view width largura da tela */
    left: 50vw;
}

.slide__copy h6{
    font-size: 0.9375rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1875rem;
}

.slide__copy h2{
    font-size: 6.25rem;
    text-transform: uppercase;
    line-height: 6.25rem;
}

/* esse comando é para forçar a quebra de linha */
.slide__copy h2 span{
    display: block;
}

.btn{
    cursor: pointer;
    padding: 1rem 2.5rem;
    color: var(--colorPrimary);
    border: 0.125rem solid #fff;
    border-radius: 5rem;
    /* para remover a cor do fundo do botão. */
    background: unset;
    font-size: 0.9375rem;
    font-weight: 700;
    text-transform: uppercase;
    /* determina a transição all serve para tudo e o ease é o tipo */
    transition: 0.5s all ease;
}

.btn:hover, .btn:active, .btn:focus{
    border-color: var(--colorPrimary);
    background-color: var(--colorPrimary);
    color: #fff;
} 

#counter{
    background-color: var(--colorPrimary);
    color: #fff;
    text-transform: uppercase;
}

.counter__container{
    /* para colocar em colunas utilizar o display grid e depois definir quantas colunas com 1fr */
    display: grid;
    /* utilizar o repeat para repetir uma coisa, o auto-fill vai colocar as colunas automaticamente o minmax é para colocar o tamanno minimo e o maximo que vai ficar as colunas */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* para colocar os itens no centro da grid */
    place-items: center;
    padding: 4.375rem 1rem;
}

.counter__container h3{
    font-size: 2.1875rem;
}

.counter__container h3 small{
    display: block;
    font-size: 1.25rem;
}

.institutional{
    display: grid;
    grid-template-columns: auto auto;
    /* para dar espaço entre as colunas */
    gap: 3.125rem;
    /* para alinhar todos os itens ao centro no eixo y */
    align-items: center;
    padding: 4.375rem;
}

.institutional__image{
    max-width: 34.375rem;
}

.institutional__copy{
    padding: 0 1.875rem 0 0;
}

.institutional__copy h6{
    font-size: 0.875rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin: 0;
}

.institutional__copy h4 {
    font-size: 1.5625rem;
    margin-top: 1rem;
  }

  .institutional p {
    font-family: "Roboto", sans-serif;
    font-size: 1.0625rem;
    /* espaçamento entre as linhas */
    line-height: 1.6875rem;
    margin-bottom: 0;
    margin-bottom: 2.5rem;
  }

  .btn--institutional{
    background-color: var(--colorPrimary);
    color: #fff;
}

.btn--institutional:hover{
    background-color: #fff;
    border-color: var(--colorPrimary);
    color: var(--colorPrimary);
}

/* efeito de paralax */
.quote{
    
    background-image: url(./images/parallax.jpg);
    
    /* para fazer o paralax da imagem */
    background-attachment: fixed;
    /* para parar de repetir a imagem */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.quote__container{
    display: grid;
    align-items: center;
    justify-items: end;
    min-height: 80vh;

}

.quote__copy{
    background-color: #fff;
    padding: 5.625rem 4.375rem;

}

.quote__copy h6{
    font-size: 0.9375rem;
    font-weight: 400;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
    line-height: 1.4375rem;
    /* largura maxima de 53 caracteres */
    max-width: 53ch;
    margin: 0;
}

.quote__copy h2{
    font-size: 5rem;
    line-height: 5rem;
    text-transform: uppercase;
    letter-spacing: - 0.1875rem;
    margin: 1.875rem 0;
    

}

.quote__copy h2 span{
    display: block;
}

.btn--quote{
   color: var(--color-copy); 
   border-color: var(--color-copy);
   background-color: unset;
}