@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,700;0,900;1,400&display=swap');

/* aqui define o que estará em todo o site mas não dentro do root, colocar no root apenas o que for importante */
* {
    /* para cortar fora tudo o que estiver fora da tela */
    box-sizing: border-box;
}

/* aqui define as configurações da raiz do site */
:root{
    /* para criar uma variavel no css basta colocar --  */
    --colorPrimary: #ffc500;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    
}

/* aqui eu estou definindo todas as propriedades que estarão no body do site */
body{
    margin: 0;
    /* empurra o conteudo da pagina para depois do navbar */
    padding-top: 7.75rem; 
}
/*alterar as configurações das listas*/
ul{
    /* deixa ele flexivel colocando uma do lado da outra */
    display: flex; 
    /* retira a estilização da lista, como as bolinhas do lado */
    list-style: none; 
    padding-left: 0;
}

h6{
    margin: 0;
}


.navbar {
    /* para colocar o navbar sempre fixo no site, mesmo quando rolado para baixo */
    position: fixed;
    /* define que o elemento será em grid  */
    display: grid;
    /* posiciona os elementos em colunas dentro da grid precisa colocar as medidas das colunas fr é a medida de fração que pode ser utilizada apenas no grid*/
    grid-template-columns: 1fr 8fr;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 7.75rem;
    padding: 0 1rem;
    background-color: #000;
    color: #fff;

}

.navbar__links{
    justify-self: end;
    

}

/*alterar as listas*/
.navbar__links li{
        font-size: 0.875rem;
        /* coloca o texto em caixa alta */
        text-transform: uppercase; 
        margin-right: 3rem; /* unidade de medida que foi definida no root */
    
}

/* aqui eu posso pegar um elemento de uma classe para que ele seja afetado por inteiro, neste caso é o elemento A */
.navbar__links a{
    color: #fff;
    text-decoration: none;
    font-weight: 300;
   
    
}

/*  o hover serve para afetar quando o mouse passa por cima */
.navbar__links a:hover{
    color: var(--colorPrimary);
}

.logo-studion{
    font-size: 2.375rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    /* vai colocar 1px a mais do tamanho da altura do glifo 0 da fonte */
    line-height: 1ch;
   
}

.logo-studion__subtitle{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.875rem;
    text-align: right;

}

.copy-primary{
    color: var(--colorPrimary);
}

#slider{
    background-color: #000;
    height: calc(100vh - 7.75rem);
    color: #fff;
}
